body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  color: #191919;
  margin: 0.5em;
}

h1 {
  margin-bottom: 0em;
  margin-top: 0em;
}

h2.section-title{
  display: inline-block;
}

h2.section-title:hover{
  cursor: pointer;
  text-decoration: underline;
}

canvas.chartjs-render-monitor {
  border: 1px solid #d1d1d1;
}

canvas.chartjs-render-monitor:hover {
  border: 1px solid #191919;
}

canvas, canvas:hover {
  transition: border 0.1s ease-in-out;
}

p {
  margin: 0.2em
}

img{
  max-width: 100%;
}

.chart-container {
  position: relative;
/*   height: 40%; */
  width: 100%;
  max-width: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.note{
  padding: 1em 0;
}

.note *{
  font-style: italic;  
  color: #4a4a4a;
}


.note-log-scale{
  /* Notes aboute logarithmic scale being used for the chart should only be visible if the chart is rendered. */
  display: none;
}